.recipe-grid {
  display: grid;
  /* カードの最大幅を割り出す .recipe-cardにwidth: fit-content;を設定してから実行すること
    Array.from(document.querySelectorAll('.recipe-card')).reduce((max, e) => Math.max(max, e.offsetWidth),0)
  */
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-template-rows: auto auto auto;
  align-items: start;
  gap: 0px 16px;

  .recipe-card {
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;
    padding: 16px;
    background: var(--color-card-bg);
    border: 1px solid #444;
    border-radius: 8px;
    transition: transform 0.2s;
    margin-bottom: 32px;
    /* width: fit-content; */

    &:hover {
      transform: translateY(-2px);
      border-color: var(--color-primary);
    }

    h2 {
      color: var(--color-primary);
      border-bottom: 1px solid #444;
      font-size: larger;
      font-weight: bold;
    }

    .recipe-section {
      margin: 4px;

      h3 {
        margin-bottom: 4px;
        text-transform: uppercase;
        color: #888;
      }

      .list-like-grid {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 2px 0px;
        margin: 4px;
        width: fit-content;
        border-radius: 8px;

        .item {
          display: grid;
          grid-column: span 2;
          grid-template-columns: subgrid;
          background: hsl(from var(--color-card-bg) h s calc(l * 0.95));
          padding: 3px 6px;
          border-radius: 3px;

          &.single-column {
            grid-template-columns: none;
            text-align: center;

            .item-name {
              margin-right: 0;
            }
          }

          .item-name {
            white-space: nowrap;
            margin-right: 16px;

            &.highlight {
              color: var(--color-highlight);
            }
          }

          .amount {
            text-align: right;

            .highlight {
              color: var(--color-highlight);
            }

            .effect-is-time-over {
              display: inline;
              position: relative;
              top: -1px;
              margin-right: 3px;
              stroke-width: 10px;
              color: hsl(from black h s calc(l + 2));
              

              /* light-dark(
                hsl(from var(--color-text) h s calc(l * 0.9)),
                hsl(from var(--color-text) h s calc(l * 0.4))
              ); */

              &.highlight {
                color: var(--color-highlight);
              }
            }
          }
        }
      }
    }
  }
}
