.list-like-grid {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 2px 0px;
	margin: 4px;
	width: fit-content;
	border-radius: 8px;

	.item {
		display: grid;
		grid-column: span 2;
		grid-template-columns: subgrid;
		padding: 3px 6px;
		border-radius: 3px;
		background: rgba(0, 0, 0, 0.2);

		&.single-column {
			grid-template-columns: none;
			text-align: center;
			.item-name {
				margin-right: 0;
			}
		}

		.item-name {
			white-space: nowrap;
			margin-right: 16px;
		}
	}
}
