.filters {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  background: var(--color-card-bg);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #444;

  input,
  select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #555;
    font-size: 16px;
  }
}

.filter-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 200px;
}

.filter-group label {
  margin-bottom: 8px;
  color: var(--color-primary);
  font-weight: bold;
}
