#ingredient-query-explain {
  display: grid;
  grid-template-columns: auto 1fr; /*цик*/
  gap: 4px;
  margin-top: 8px;
  margin-left: 8px;

  .row {
    display: grid;
    grid-column: span 2;
    grid-template-columns: subgrid;

    .head {
      font-size: 0.9em;
      margin-right: 8px;
    }

    .examples {
      display: flex;
      gap: 0px 16px;

      .example {
        white-space: pre;
        border: solid 1px hsl(from var(--color-text) h s calc(l * 0.5));
        background: hsl(from var(--color-card-bg) h s calc(l * 0.8));
      }

      .note {
        font-size: 0.8em;
        color: hsl(from var(--color-text) h s calc(l * 0.6));
      }
    }
  }
}
