@import "tailwindcss";
@import "./components/filters/index.css";

/* 未使用のテーマ変数は削除されるので、
 * @themeのカラーが出力されないときはこのcss内でvar(--color-colorname)して
 * 使用をアピールする */
@theme {
  --color-primary: #9d9312;
  --color-bg: #ffffff;
  --color-text: #213547;
  --color-card-bg: #fafafa;
  --color-highlight: #4caf50;
}

@theme dark {
  --color-primary: #e3d629; /* Fallout UI Yellowish */
  --color-bg: #1a1a1a;
  --color-text: #f0f0f0;
  --color-card-bg: #2a2a2a;
}

:root {
  --color-primary: light-dark(#9d9312, #e3d629);
  --color-bg: light-dark(#ffffff, #1a1a1a);
  --color-text: light-dark(#213547, #f0f0f0);
  --color-card-bg: light-dark(#fafafa, #2a2a2a);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--color-bg);
	cursor: pointer;
	transition: box-shadow 0.1s;
	color: var(--color-primary);
	box-shadow: 0 0 10px rgba(227, 214, 41, 0.5),
		0 0 10px rgba(227, 214, 41, 0.5) inset;
}
button:hover {
	box-shadow: 0 0 15px rgba(227, 214, 41, 0.75);
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
} */
